BOT_TOKEN=123456789:ABCdefGhIJKlmNoPQRsTUVwxYZabc12345 #Token of your bot from @BotFather
R34_API_KEY=abcdefghijklmnopqrstuvwxyzabc1234567890abcdefghijklmnopqrstuvwxyzabc1234567890abcdefghijklmnopqrstuvwxyzabc12345678
R34_USER_ID=1234567
ENDLESS_SUBS=123456789,987654321 #IDs for accounts receiving unlimited subscription
DEVICE=cpu #gpu
POOL_SIZE=10000 #size of the r34 post pool 